.mainLogin{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.formLogin{
  width: 450px;
  height: 500px;
  border: 2px solid #f1892a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  
}

.formLogin label, .mainPage label{
  font-size: 1.6rem;
}

.mainPage label{
  font-size: 1.6rem;
 
}


.formLogin button{
  width: 90%;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #f1892a;
  color: white;
  font-size: 1.3rem;
  
}

.formLogin button:hover{
 
  background-color: white;
  color: #f1892a;
  border: 1.5px solid #f1892a;
  
}


.mainPage input, .mainPage select{

  width: 500px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1.3rem;


}

.formLogin input::placeholder, .mainPage input::placeholder{
  text-align: center;
  font-size: 1.3rem;

}



.formLogin .profissaoDiv .opdiv{
  display: flex;
  gap: 3px;
}

.formLogin .profissaoDiv .opdiv input, .formLogin .profissaoDiv .opdiv label{
  width: auto;
  height: auto;
  cursor: pointer;
}

.formLogin .profissaoDiv{
  display: flex;
  width: 90%;
  
  justify-content: space-around;
  
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.opdiv .input-error, .mainPage .divInputsMain .input-error {
  border: 2px solid #ff0000
}


.mainHome, .mainPage{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.mainPage .divInputsMain{
  
  width: 90%;
  border-bottom: 2px solid #f1892a;
  border-top: 2px solid #f1892a;
	padding-bottom: 5px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mainHome .nomeBotoesDiv h1, .mainPage .titlePage{
  font-size: 2rem;
}

.mainPage .titlePage{

  border-bottom: 2px solid #f1892a;
	padding-bottom: 5px;
  margin-top: 5px;

}





.mainHome .nomeBotoesDiv button, .mainPage .botaoInputs{
  width: 300px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #f1892a;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  
}


.mainHome .nomeBotoesDiv button:hover, .mainPage .botaoInputs:hover{

  background-color: white;
  color: #f1892a;
  border: 1.8px solid #f1892a;

}

.divBotoesInputs{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
  
}

.mainHome .aulasDiv{
  width: 90%;
  
  
  flex: 1;
  /*O flex: 1 é uma propriedade poderosa do CSS que, quando aplicado a um elemento dentro de um container flex, faz com que ele ocupe todo o espaço disponível tanto na direção principal quanto na transversal.*/
  border: 2px solid #f1892a;

  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5px;
  

}

.divInputs{

  flex-direction: column;
}



.mainHome .aulasDiv .teste{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 0, 0);

  

}


.mainHome .nomeBotoesDiv{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mainHome .nomeBotoesDiv .divBotoesHome{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 1024px) {

  .mainHome .aulasDiv{
    width: 90%;
    
  }

  .mainHome .nomeBotoesDiv{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mainHome .nomeBotoesDiv .divBotoesHome{
    flex-direction: column;
  }

  .divBotoesInputs{
    margin-bottom: 5px;
    
    
  }



}



