.mainLogin{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.formLogin{
  width: 450px;
  height: 500px;
  border: 2px solid #f1892a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  
}

.formLogin label, .mainPage label{
  font-size: 1.6rem;
}

.divInputsMain label, .divInputsDialog label{
  font-size: 1.3rem;
}

.mainPage label{
  font-size: 1.6rem;
 
}


.formLogin button{
  width: 90%;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #f1892a;
  color: white;
  font-size: 1.3rem;
  border-radius: 2px;
  
}

.formLogin button:hover{
 
  background-color: white;
  color: #f1892a;
  border: 1.5px solid #f1892a;
  
}


.mainPage input, .mainPage select, .formLogin input, .divInputsDialog input, .divInputsDialog select{

  width: 500px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1.3rem;
  padding-left: 10px;
  

}

.mainPage textarea{
  width: 500px;
  
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-left: 10px;
}

.divInputsDialog input, .divInputsDialog select{
  margin: 0 auto;
  max-width: 500px;
}

.formLogin input{
  width: 90%;
}

.formLogin input::placeholder, .mainPage input::placeholder{
  text-align: center;
  font-size: 1.3rem;

}



.formLogin .profissaoDiv .opdiv, .containerCardAlunoFrequencia .profissaoDiv .opdiv{
  display: flex;
  gap: 3px;
}

.formLogin .profissaoDiv .opdiv input, .formLogin .profissaoDiv .opdiv label, .containerCardAlunoFrequencia .profissaoDiv .opdiv input, .containerCardAlunoFrequencia .profissaoDiv .opdiv label{
  width: auto;
  height: auto;
  cursor: pointer;
}

.formLogin .profissaoDiv, .containerCardAlunoFrequencia .profissaoDiv{
  display: flex;
  width: 90%;
  
  justify-content: space-around;
  
}

.containerCardAlunoFrequencia textarea{
  width: 90%;
  margin-bottom: 5px;
  border: 1px solid #f1892a;
  

}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.opdiv .input-error, .mainPage .divInputsMain .input-error, .divInputsDialog .input-error{
  border: 2px solid #ff0000
}


.mainHome, .mainPage{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}



.mainPage .divInputsMain, .divInputsDialog{
  
  width: 90%;
  border-bottom: 2px solid #f1892a;
  border-top: 2px solid #f1892a;
	padding: 5px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.divInputsDialog{
  border-bottom: none;
  border-top: none;
  gap: 20px;

}

.mainHome .nomeBotoesDiv h1, .mainPage .titlePage{
  font-size: 2rem;
}

.nomeBotoesDiv h1{
  text-align: center;
}

.mainPage .titlePage{

  border-bottom: 2px solid #f1892a;
	padding-bottom: 5px;
  margin-top: 5px;

}





.mainHome .nomeBotoesDiv button, .mainPage .botaoInputs, .botoesDialog button, .containerCardAula button{
  width: 300px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #f1892a;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  
}

.containerCardAula button{
  width: 50%;
  height: 40px;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}






.mainHome .nomeBotoesDiv button:hover, .mainPage .botaoInputs:hover, .botoesDialog button:hover, .containerCardAula button:hover{

  background-color: white;
  color: #f1892a;
  border: 1.8px solid #f1892a;

}

.divBotoesInputs{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
 
  
  
}

.botoesDialog{
  margin: 0 auto;
  width: 100%;
  
  
}

.botoesDialog .botaoExcluir, .divBotoesInputs .botaoExcluir{
  background-color: #c52233;
}

.botoesDialog button{
  width: 150px;
  
  
}

.mainHome .aulasDiv{
  width: 90%;
  
  
  flex: 1;
  /*O flex: 1 é uma propriedade poderosa do CSS que, quando aplicado a um elemento dentro de um container flex, faz com que ele ocupe todo o espaço disponível tanto na direção principal quanto na transversal.*/
  border: 2px solid #f1892a;

  border-radius: 5px;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5px;
  

}

.divInputs{

  flex-direction: column;
}



.mainHome .aulasDiv .teste{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 0, 0);

  

}


.mainHome .nomeBotoesDiv{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.nomeBotoesDiv{
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mainHome .nomeBotoesDiv .divBotoesHome{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mainHome h2{

  border-bottom: 2px solid #f1892a;
  padding-bottom: 5px;
  
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #f1892a; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.containerCardTurma, .containerCardAluno, .containerCardAlunoFrequencia{
  width: 60%;
  border: 2px solid #f1892a;
  min-height: 150px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  
}

.containerCardAula{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
  border: 2px solid #f1892a;
  flex-basis: 30%;
  border-radius: 10px;
  
  padding-top: 10px;
  

}

.containerCardAula h1{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;

}


.containerCardAula p{
  text-align: center;
  font-size: 0.8rem;
  

}





.containerCardAluno, .containerCardAlunoFrequencia{
  max-width: 500px;
  width: 100%;
  border: none;
  border-bottom: 3px solid #f1892a;
  border-top: 1px solid #f1892a;;
  min-height: 100px;
  cursor: pointer;
  gap: 10px; 
 

  
}

.containerCardAlunoFrequencia{
  border: 1px solid #f1892a;;
  border-bottom: 3px solid #f1892a;
  
}

.containerCardAlunoFrequencia .profissaoDiv .opdiv label{
  font-size: 1.2rem;
}

.containerCardAluno h1, .containerCardAlunoFrequencia h1{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.containerCardTurma div, .containerCardAluno div{
  display: flex;
  gap: 20px;
  
  
}




.containerCardTurma:hover, .containerCardAluno:hover {
  background-color: #f1892a;
  color: white;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1024px) {

  .mainHome .aulasDiv{
    width: 90%;
    
  }

  .mainHome .nomeBotoesDiv{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }

  .mainHome .nomeBotoesDiv .divBotoesHome{
    flex-direction: column;
  }

  .divBotoesInputs{
    margin-bottom: 5px;
    
    
  }

  .divInputsDialog input, .divInputsDialog select, .divInputsMain input, .divInputsMain select, .divInputsMain textarea{
    width: 100%;
    margin: 0 auto;
  }

  .containerCardTurma{
    width: 100%;
    height: auto;
    border-radius: 5px;
    gap: 10px;
    
    
  
    
  }

  
  .containerCardTurma h1{
    text-align: center;  
    
  
    
  }
  
  .containerCardTurma div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 2px;
    
    
  }

  .containerCardAluno{
    
    gap: 2px;   
  
    
  }

  .containerCardAlunoFrequencia .profissaoDiv{
    width: 100%;
  }

  .containerCardAula{
    
    flex-basis: 100%;
    
    
  
  }
  



}



